/*************************** GENERAL ***************************/
body {
  margin: 0;
  /*background-color: #F8E6CB;*/
  background-image: url(Images/Web\ background.png);
  background-size: cover;
  font-family: 'Lato';
}

.title {
  margin-top: 15px;
  color: #5193B3;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
}

.icon:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

/*************************** TEXT BOXES ***************************/
.vert-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.hori-box {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.box {
  flex-grow: 1;
  margin-top: 20px;
  background-color: #5193B3;
  border-radius: 40px;
  padding: 25px;
  line-height: 30px;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.box-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.box-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 27px;
}

.link-title:hover {
  color: #F8D49B;
}

.title-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.date {
  color: #FFFFFF;
  font-size: 20px;
}

.descr {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
}

.descr-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}

.descr-trio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.descr-pair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.descr-text {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 25px;
}

/*************************** NAVIGATION BAR ***************************/
*{transition: all 0.3s ease-in-out;}

.navbar {
  background-color: #5193B3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  margin-left: 25px;
  padding: 0px 16px;
  text-align: center;
  font-size: 25px;
  color: #FFFFFF;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 15px;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #62C4C3;
    border-radius: 20px;
  }
  
  .active {
    background-color: #62C4C3;
    border-radius: 20px;
  }

/*************************** HOME PAGE ***************************/
.home-container {
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 30px;
  color: #5193B3;
  height: 100vh;
}

/*.home-bg {
  display: flex;
  background-size: cover;
  margin: 0;
}*/

.home-title {
  /*position: absolute;
  top: 40%;
  left: 50%;*/
  text-align: center;
  /*transform: translate(-50%, -50%);*/
  font-weight: bold;
  font-size: 6.5vw;
  color: #5193B3;
  /*font-size: 90px;*/
}

.home-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 120px;
}

.home-icon {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  /*position: absolute;
  top: 60%;*/
  /*transform: translate(-50%, -50%);*/
}

.resume-btn {
  /*position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  background-color: #5193B3;
  border: none;
  border-radius: 20px;
  padding: 15px 32px;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-family: 'Lato';
}

.resume-btn:hover {
  background-color: #62C4C3;
}

/*************************** ABOUT PAGE ***************************/
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portrait {
  max-width: 250px;
  border-radius: 50px;
  margin-left: 40px;
}

.about-span {
  background-color: #5193B3;
  border-radius: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 25px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 35px;
}

.after-title {
  color: #5193B3;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
}

.interests {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 20px;
}

/*************************** PROJECTS PAGE ***************************/
.demo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.demo-descr {
  display: flex;
  justify-content: flex-start;
  flex-basis: 830px;
}

.video {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

/*.skill-box {
  display: flex;
  flex-direction: row;
}

.skill-first {
  margin-top: 20px;
}

.skill-next {
  margin-top: 20px;
  margin-left: 180px;
}

.skill-span {
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
}

.skill-icon {
  vertical-align: middle;
  margin-left: 10px;
  border-radius: 50px;
}*/


/*************************** LINKS ***************************/
.emails {
  color: #FFFFFF;
}

.emails:hover {
  color:#A7C7E7;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/*************************** RESPONSIVE DESIGN ***************************/
@media screen and (max-width: 1000px) {
  .name {
    font-size: 20px;
  }

  .title {
    font-size: 50px;
  }

  .after-title {
    margin-top: 15px;
    font-size: 50px;
  }

  .home-title {
    font-size: 70px;
  }

  .home-btns {
    column-gap: 100px;
  }

  .home-icon {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title-icon {
    width: 40px;
    height: 40px;
  }

  .descr-pair {
    gap: 15px;
  }

  .about {
    flex-direction: column;
    row-gap: 20px;
  }

  .portrait {
    align-self: center;
    margin-top: 20px;
    margin-left: 0px;
    max-width: 200px;
  }

  .about-span {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-size: 20px;
  }

  .box-top {
    flex-direction: column;
    row-gap: 10px;
  }

  .interests {
    flex-direction: column;
    row-gap: 20px;
  }

  .demo {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    row-gap: 20px;
  }

  .demo-descr {
    flex-basis: 0px;
  }

  .video {
    width: 380px;
    height: 214px;
  }

  .descr-box {
    row-gap: 30px;
  }

  .vert-boxes {
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: auto;
    column-gap: 20px;
  }

  .hori-box {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .box {
    padding: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .name {
    font-size: 20px;
  }

  .title {
    font-size: 50px;
  }

  .after-title {
    margin-top: 20px;
    font-size: 50px;
  }

  .home-title {
    font-size: 50px;
  }

  .home-btns {
    column-gap: 80px;
  }

  .home-icon {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title-icon {
    width: 30px;
    height: 30px;
  }

  .descr-pair {
    gap: 15px;
  }

  .about {
    flex-direction: column;
    justify-content: space-evenly; 
    row-gap: 20px;
  }

  .portrait {
    align-self: center;
    margin-top: 20px;
    margin-left: 0px;
    max-width: 180px;
  }

  .about-span {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-size: 18px;
  }

  .box-top {
    flex-direction: column;
    row-gap: 10px;
  }

  .interests {
    flex-direction: column;
    row-gap: 20px;
  }

  .demo {
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    row-gap: 20px;
  }

  .demo-descr {
    flex-basis: 0px;
  }

  .video {
    width: 340px;
    height: 191px;
  }

  .descr-box {
    row-gap: 30px;
  }

  .vert-boxes {
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 0px;
    margin-bottom: 10px;
  }

  .hori-box {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .box {
    padding: 20px;
  }
}