/*************************** GENERAL ***************************/
body {
  margin: 0;
  /*background-color: #F8E6CB;*/
  background-image: url(Images/Web\ background.png);
  background-size: cover;
  font-family: 'Lato';
}

.title {
  margin-top: 15px;
  color: #5193B3;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
}

.icon:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

/*************************** TEXT BOXES ***************************/
.vert-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.hori-box {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.box {
  flex-grow: 1;
  background-color: #5193B3;
  margin-top: 20px;
  border-radius: 40px;
  padding: 25px;
  line-height: 30px;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.box-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.box-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 27px;
}

.link-title:hover {
  color: #F8D49B;
}

.title-icon {
  border-radius: 50px;
}

.date {
  color: #FFFFFF;
  font-size: 20px;
}

.descr {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
}

.descr-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}

.descr-trio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.descr-pair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.descr-text {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 25px;
}

/*************************** NAVIGATION BAR ***************************/
*{transition: all 0.3s ease-in-out;}

.navbar {
  background-color: #5193B3;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.name {
  margin-left: 25px;
  padding: 0px 16px;
  font-size: 25px;
  color: #FFFFFF;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 15px;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #62C4C3;
    border-radius: 20px;
  }
  
  .active {
    background-color: #62C4C3;
    border-radius: 20px;
  }

/*************************** HOME PAGE ***************************/
.home-container {
  position: relative;
  text-align: center;
  color: #5193B3;
  width: 100%;
  height: 100%;
}

.home-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  /*font-size: 90px;*/
  font-size:6.5vw;
}

.home-icon {
  border-radius:50px;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
}

.resume-btn {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5193B3;
  border: none;
  border-radius: 20px;
  padding: 15px 32px;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  /*font-size: 25px;*/
  font-size: 1.95vw;
  font-family: 'Lato';
}

.resume-btn:hover {
  background-color: #62C4C3;
}

/*************************** ABOUT PAGE ***************************/
.about {
  display: flex;
  align-items: center;
}

.about-span {
  background-color: #5193B3;
  border-radius: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 25px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 35px;
}

.after-title {
  color: #5193B3;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
}

.interests {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*************************** PROJECTS PAGE ***************************/
.demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.demo-descr {
  display: flex;
  justify-content: flex-start;
  flex-basis: 830px;
}

.video {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

/*.skill-box {
  display: flex;
  flex-direction: row;
}

.skill-first {
  margin-top: 20px;
}

.skill-next {
  margin-top: 20px;
  margin-left: 180px;
}

.skill-span {
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
}

.skill-icon {
  vertical-align: middle;
  margin-left: 10px;
  border-radius: 50px;
}*/


/*************************** LINKS ***************************/
.emails {
  color: #FFFFFF;
}

.emails:hover {
  color:#A7C7E7;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}