/*************************** GENERAL ***************************/
body {
  margin: 0;
  background-image: url(Images/Web\ background.png);
  background-size: cover;
  font-family: 'Lato';
}

.title {
  margin-top: 15px;
  color: #5193B3;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
}

.icon:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

/*************************** TEXT BOXES ***************************/
.vert-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.hori-box {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.box {
  flex-grow: 1;
  margin-top: 20px;
  background-color: #5193B3;
  border-radius: 40px;
  padding: 25px;
  line-height: 30px;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.box-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.box-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 27px;
}

.link-title:hover {
  color: #F8D49B;
}

.title-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.date {
  color: #FFFFFF;
  font-size: 20px;
}

.descr {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
}

.descr-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}

.descr-trio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.descr-pair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.descr-text {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 25px;
}

/*************************** NAVIGATION BAR ***************************/
*{transition: all 0.3s ease-in-out;}

.navbar {
  background-color: #5193B3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  padding: 10px 40px;
}

nav {
  display: flex;
  flex-direction: row;
  column-gap: 1.56vw;
  list-style-type: none;
  margin: 15px;
  }

nav a {
  display: block;
  font-size: 1.8vw;
  color: #FFFFFF;
  text-align: center;
  padding: 1vw 2.5vw;
  text-decoration: none;
}
  
nav a:hover {
  background-color: #62C4C3;
  border-radius: 20px;
}
  
.active {
  background-color: #62C4C3;
  border-radius: 20px;
}

.navbar .pull-out {
  display: none;
}

/*************************** HOME PAGE ***************************/
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 30px;
  color: #5193B3;
  height: 100vh;
}

.home-title {
  text-align: center;
  font-weight: bold;
  font-size: 6.5vw;
  color: #5193B3;
}

.home-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 120px;
}

.home-icon {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.resume-btn {
  background-color: #5193B3;
  border: none;
  border-radius: 20px;
  padding: 15px 32px;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-family: 'Lato';
}

.resume-btn:hover {
  background-color: #62C4C3;
}

/*************************** ABOUT PAGE ***************************/
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portrait {
  max-width: 250px;
  border-radius: 50px;
  margin-left: 40px;
}

.about-span {
  background-color: #5193B3;
  border-radius: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 25px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 35px;
}

.after-title {
  color: #5193B3;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
}

.interests {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 20px;
}

/*************************** PROJECTS PAGE ***************************/
.demo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.demo-descr {
  display: flex;
  justify-content: flex-start;
  flex-basis: 830px;
}

.video {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

/*************************** LINKS ***************************/
.emails {
  color: #FFFFFF;
}

.emails:hover {
  color:#A7C7E7;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/*************************** RESPONSIVE DESIGN ***************************/

@media screen and (max-width: 1000px) { /**********TABLET SCREEN SIZE**********/
  /**********TOP NAVIGATION BAR***********/
  .name {
    position: absolute;
    top: 0;
  }

  nav {
    padding: 0px 10px;
  }

  nav a {
    margin: 10px;
    font-size: 17px;
    padding: 15px 15px;
    text-align: left;
  }

  .navbar a.active {
    background-color: #62C4C3;
  }

  .navbar a:not(:active) {
    display: none;
  }

  .navbar a.pull-out {
    display: block;
    padding: 30px 20px;
    color: #FFFFFF;
  }

  .navbar .pull-out:hover {
    color: #62C4C3;
  }

  .navbar.responsive .pull-out {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
  }

  .navbar.responsive a {
    display: block;
  }

  /**********TEXTBOXES**********/
  .title {
    font-size: 50px;
  }

  .after-title {
    margin-top: 15px;
    font-size: 50px;
  }

  .title-icon {
    width: 40px;
    height: 40px;
  }

  .vert-boxes {
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: auto;
    column-gap: 20px;
  }

  .hori-box {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .box {
    padding: 20px;
    margin-bottom: 20px;
  }

  .box-top {
    flex-direction: column;
    row-gap: 10px;
  }

  .descr-box {
    row-gap: 30px;
  }

  .descr-pair {
    gap: 15px;
  }

  /**********HOME PAGE**********/
  .home-title {
    font-size: 70px;
  }

  .home-btns {
    column-gap: 100px;
  }

  .home-icon {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /**********ABOUT PAGE**********/
  .about {
    flex-direction: column;
    row-gap: 20px;
  }

  .portrait {
    align-self: center;
    margin-top: 20px;
    margin-left: 0px;
    max-width: 200px;
  }

  .about-span {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-size: 20px;
  }

  .interests {
    flex-direction: column;
    row-gap: 20px;
  }

  /**********PROJECTS PAGE**********/
  .demo {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    row-gap: 20px;
  }

  .demo-descr {
    flex-basis: 0px;
  }

  .video {
    width: 380px;
    height: 214px;
  }
}

@media screen and (max-width: 500px) { /**********PHONE SCREEN SIZE**********/
  /**********TOP NAVIGATION BAR**********/
  .name {
    position: absolute;
    top: 0;
  }

  nav {
    padding: 0px 10px;
  }

  nav a {
    margin: 10px;
    font-size: 17px;
    padding: 15px 15px;
    text-align: left;
  }

  .navbar a.active {
    background-color: #62C4C3;
  }

  .navbar a:not(:active) {
    display: none;
  }

  .navbar a.pull-out {
    display: block;
    padding: 30px 20px;
    color: #FFFFFF;
  }

  .navbar .pull-out:hover {
    color: #62C4C3;
  }

  .navbar.responsive .pull-out {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
  }

  .navbar.responsive a {
    display: block;
  }

  /**********TEXTBOXES**********/
  .title {
    font-size: 50px;
  }

  .after-title {
    margin-top: 20px;
    font-size: 50px;
  }

  .title-icon {
    width: 30px;
    height: 30px;
  }

  .vert-boxes {
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 0px;
    margin-bottom: 10px;
  }

  .hori-box {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .box {
    padding: 20px;
  }

  .box-top {
    flex-direction: column;
    row-gap: 10px;
  }
  
  .descr-box {
    row-gap: 30px;
  }

  .descr-pair {
    gap: 15px;
  }

  /**********HOME PAGE**********/
  .home-title {
    font-size: 50px;
  }

  .home-btns {
    column-gap: 80px;
  }

  .home-icon {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /**********ABOUT PAGE**********/
  .about {
    flex-direction: column;
    justify-content: space-evenly; 
    row-gap: 20px;
  }

  .portrait {
    align-self: center;
    margin-top: 20px;
    margin-left: 0px;
    max-width: 180px;
  }

  .about-span {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-size: 18px;
  }

  .interests {
    flex-direction: column;
    row-gap: 20px;
  }

  /**********PROJECTS PAGE**********/
  .demo {
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    row-gap: 20px;
  }

  .demo-descr {
    flex-basis: 0px;
  }

  .video {
    width: 340px;
    height: 191px;
  }
}